* {
  margin:0;
  padding: 0;
}

h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.wrapper {
  padding: 1rem;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
  justify-items: center;
}

.cancelled {
  text-decoration: line-through;
  background-color: red;
}

.grid > * {
  padding: 1rem;
  border: black solid 2px;
  background-color: lightgreen;
  font-weight: 600;
  font-size: 2rem;
  border-radius: 10px;
}

.train-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 0.5rem;
}

.train-grid > * {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}